*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
:root
{
    --foreground-color: rgb(21, 31, 46);
    --block-color: #152232;
    --block-color-hover: #27415e;
    --text-color: rgb(159,173,189);
}

body{
    position: relative;
    background-color: rgb(191, 191, 191);
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--foreground-color);
}
body::-webkit-scrollbar-thumb {
    background-color: #f65050;
    border-radius: 5px;
    outline: 0;
}
.header {
    background-color: black;
    color: white;
    position: relative;
  }
.buffer{
  margin-top: 10px;
  margin-bottom: 10px;
}
  
  .title {
    font-family: Jcorbs;
    font-size: 72px; /* increase font size */
    margin: 0;
    padding: 30px 0; /* increase top and bottom padding to vertically center the title */
    text-align: center; /* center the title horizontally */
  }

  .picture-container {
    position:relative;
  }
  .image-container{
    text-align: center;
  }

  img {
    max-width: 100%
  }
  .image {
    width: 30%
  }

  .bullet-points {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
  }

  .bullet-points2 {
    position: absolute;
    top: 65%;
    right: 42%;
    transform: translate(-50%, -50%);
  }

 
  .bullet-point {
    margin: 100px 0px;
    border: 3px solid black;
    background-color: white;
    color: black;
    padding: 5px;
    cursor: pointer;
    margin-left: 950px;
    transform: translate(1%, 305%);
  }
  .bullet-point2 {
    margin: 100px 0px;
    border: 3px solid black;
    background-color: white;
    color: black;
    padding: 5px;
    cursor: pointer;
    margin-left: 950px;
  }
  .hidden {
    display: none;
  }
  .text-box-container {
    margin-top: 20px;
  }
  #submit-button {
    margin-left: 10px;
  }
  .output-box-container {
    margin-top: 20px;
  }
  #copy-button {
    margin-top: 10px;
  }
  
  .tabs {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .tab-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: 100vw;
  }
  
  .tab {
    display: inline-block;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    width: 99.9vw;
  }

  .bordered-text {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .small-text {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    font-size: 25px;
    margin: 0;
  }

  .really-small-text{
    font-family: 'Robotaur', sans-serif;
    margin-top: 100px;
    font-size: 15px;
    margin: 0;
  }
  
  .large-text {
    font-family: 'Robotaur', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  /* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-top: 100px;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/* ONLY FOR DESCRIPTION PAGE */
.container {
  padding: 0 16px;
}

.containerElec{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  margin: 0 auto;
  max-width: 800px;
}

.leftColumn{
  justify-content: left;
  float: left;
  align-items: left;
}
.rightColumn{
  justify-content: right;
  float: right;
  align-items: right;
}

.image-column {
  width: 50%;
}

.image-column img {
  width: 100%;
  height: auto;
  display: block;
}

.text-column {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}

.text-column h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-column p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button-container {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 18px;
  transition: background-color 0.5s ease;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #ff5555;
}
  

  .bordered-text.show {
    display: block;
  }
  
  .bordered-text.hide {
    display: none;
  }

  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #ddd;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 19px;
    transition: 0.3s;
  }
  .img2{
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-400%, -25%);
    width: auto; 
    height: 150px;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ffffff;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #9c9c9c;
    border-top: none;
  }
  
  .active {
    background-color: rgb(255, 255, 71);
    color: black;
  }
  
  .tab:hover {
    background-color: rgb(122, 122, 122); /* change background color on hover */
  }

  .footer-img {
    width: 200px;
    height: auto;
    text-align: center;
    border: 1px solid black;
  }
  